.menu {
  background-color: #0096C7 !important;
}

/* Lista */
ul.menu {
  padding: 0 !important;
  margin: 0 !important;
}
ul.menu li {
  list-style: none !important;
}
ul.menu li a {
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 10px 15px !important;
  border-radius: 5px !important;
}
ul.menu li a:hover {
  background-color: #00B4D8 !important;
}

/* Menú mobile */
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column !important;
  }
}
