
.inicio{
    background-color: #bcced1;
    color: #CAF0F8;
}
.inicio-container{
    background-color: #CAF0F8;
    color: #CAF0F8;
}
.div2{
    background-color: #0096C7;
    border: none;
}

tr,th {
    border-spacing: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }