header {
  background-color: #0096C7 !important;
  position: relative !important;
}
header .container {
  padding: 15px 0 !important;
  background-color: #0096C7 !important;
  position: relative !important;
  z-index: 1 !important;
}
.responsiveLogo {
  width: 150px;
  height: auto;
}

/* Logo */
.logo {
  font-family: "Fredoka One", cursive !important;
  font-size: 32px !important;
  padding: 2px 2px !important;
  background-color: #ADE8F4 !important;
  border-radius: 5px !important;
  color: #0096C7 !important;
  margin-left: 10px !important;
  white-space: nowrap !important;
}

/* Menú responsive */
.btn-menu-responsive {
  display: none !important;
  margin-right: 10px !important;
  font-size: 20px !important;
}
.menu-responsive {
  display: none !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  transition: all 0.5s ease !important;
}
.menu-responsive.open {
  bottom: -180px !important; /* ¿cómo hacer para que este valor no este quemado? */
}
.menu-responsive ul li {
  border-top: 1px solid #000 !important;
}
.menu-responsive ul li a {
  display: block !important;
  background-color: #0096C7 !important;
  border-radius: 0 !important;
  padding: 15px !important;
}

.btn-login {
  margin: 0 10px !important;
  font-size: 20px !important;
}

/* Menú mobile */
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0 !important;
  }
  .btn-menu-responsive {
    display: block !important;
  }
  .menu-responsive {
    display: block !important;
  }
  .responsiveLogo {
    width: 70px;
    height: auto;
  }
  .logo {
    font-family: "Fredoka One", cursive !important;
    font-size: 20px !important;
    padding: 1px 1px !important;
    background-color: #ADE8F4 !important;
    border-radius: 5px !important;
    color: #0096C7 !important;
    margin-left: 10px !important;
    white-space: nowrap !important;
  }
}
